workflows/slack_text2sql_bot.json
{
  "name": "Slack Text2SQL Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "text2sql-slack",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "text2sql-slack-webhook"
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"model\": \"llama2\",\n  \"prompt\": \"Convert this natural language question to SQL query for a database with tables: employees, departments, sales, customers. Question: {{ $json.body.text }}\",\n  \"stream\": false\n}"
      },
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.response }}"
      },
      "name": "Execute SQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"text\": \"Results: \" + JSON.stringify($json) } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Call Ollama", "type": "main", "index": 0}]]
    },
    "Call Ollama": {
      "main": [[{"node": "Execute SQL", "type": "main", "index": 0}]]
    },
    "Execute SQL": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  }
}
